<!-- <h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article_path(article),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table> -->
<!-- ---
title: Welcome to Middleman
--- -->

<div class="welcome">

</div><!-- .welcome -->

<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<div class="hero">
	<div class="tint">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Surf and Paddle</h1>
			<p>A redone sheet for my homework.</p>
		</div>
	</div>
</div>
</div>

<div class="side-image">

    <div class="content">
    <h4>Topic Name</h4>
    <h1>Message with a gradient image</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam assumenda nihil suscipit obcaecati sit, cum quod corporis adipisci ipsam, fugiat, quae error. Eaque commodi, dicta quidem explicabo mollitia inventore quibusdam.</p>
    <button>Read more</button>
  </div>
  <div class="images-wrapper">
  <center>

  <p> </p>
  <img width="100px" height="100px" style="border-radius: 100px;" src="https://scontent-a-dfw.xx.fbcdn.net/hprofile-xpa1/v/l/t1.0-1/c16.0.160.160/p160x160/10399413_1149409347876_5213092_n.jpg?oh=9ed54bbf6d8cb7d6ff4d71b61d59e2e8&oe=54EF8417"></img>
  <h2> Kirt Martin </h2>
  <p><h5>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. </h5></p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN-qto7OWh8eXHgieyuQakx_fdyRA9ywcMNLLbrxhqh-Ry9oe8"></img>
  <p><h5> SIDEBAR SECTION HEADING Bacon ipsum dolor sit amet pancetta shoulder flank short ribs swine meatloaf pork tongue brisket prosciutto kielbasa strip steak. Kevin biltong meatball bresaola sausage shank doner. Beef ribs ham ham hock meatloaf shank sausage, pancetta pork jerky tri-tip spare ribs salami. </h5></p>
</center>
  </div>
</div>


<div class="grid-items">

  <!-- <a href="javascript:void(0)" class="grid-item grid-item-image1">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a> -->
  <a href="javascript:void(0)" class="grid-item grid-item-image2">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    <h1>Last Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-image3">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    <h1>A Grid Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-image4">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <h1>Item</h1>
    <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
  </a>
</div>



<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/kirt.martin.3">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/kirtmartin">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
      </ul>
    </div>
</footer>
